body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: bisque;
}
.container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem auto;
    background-color: rgb(95, 95, 95);
    max-width: 400px;
    border: 0px transparent;
    border-radius: 15px;
}
.display {
    width: 350px;
    min-height: 100px;
    margin: 20px 0px;
    border: 0px transparent;
    background-color: rgb(165, 165, 165);
    border-radius: 15px;
    justify-content: center;
}

.display-inner {
    display:block;
    height: 80px;
    line-height:80px;
    padding: 10px 20px 10px 20px;
    text-align: right;
    font-size: 40px;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    width: 350px;
    height: 350px;
    margin: 0px 20px 20px 20px;
    justify-items: center;
    align-items: center;
}

.button {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    border: 0px transparent;
    font-size: 20px;

}
.button-first {
    display: block;
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 0px transparent;
    font-size: 20px;
    background-color: rgb(255, 128, 128);
    opacity: 0.8;
}

.button-second {
    display: block;
    grid-column: 3/5;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 0px transparent;
    font-size: 20px;
    background-color: lightskyblue;
    opacity: 0.8;
}

.clicked {
    background-color: darkorange;
}

.button:hover {
    background-color: rgb(175, 175, 175);
}

.button-first:hover {
    opacity: 1;
}

.button-second:hover {
    opacity: 1;
}
